.header {
  padding: 25px 83px 25px 83px;
  background-color: white;
  z-index: 100;
}

.title-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.back {
  margin-right: 30px;
  cursor: pointer;
}

.homelogo {
  cursor: pointer !important;
  z-index: 1000;
}

.login-header {
  margin-right: 30px;
  z-index: 999;
}