.ProjectFilter .grid-space {
  margin-top: 10px !important;
}
.ProjectFilter .arrow-spacing {
  padding-right: 24px;
}
.ProjectFilter .arrow-spacing .MuiInputBase-root + svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}